@page "{id}"
@model GameUserDB.Pages.UserManage.ChangeUserPassModel
@{
    ViewData["Title"] = "Изменить пароль";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-id="@Model.ApUser.Id">
            <h3>Сменить пароль пользователя @Model.Message</h3>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Сохранить</button>
            <a asp-page="EditUser" class="btn btn-info" asp-route-id="@Model.ApUser.Id">Вернуться</a>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

